.Footer {
    width: 100%;
    background-color: #F3F4F6;
    border-top: 1px solid rgba(0, 0, 0, 0.103);
    position: relative;
    z-index: 3 !important;
    padding: 40px 0 0 0 !important;

}


.Footer>div:nth-of-type(1)>div:nth-of-type(1) {
    width: 350px;
    align-items: flex-start;
}

.Footer b {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.4px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.Footer>div:nth-of-type(1)>div:nth-of-type(1) p {
    margin: 0;
    color: var(--small-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 19.51px;
    letter-spacing: -0.32px;
    vertical-align: middle;
}

.Footer>div:nth-of-type(1)>div:nth-of-type(2) {
    width: 350px;
    align-items: flex-start;
}

.Footer>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(1) {
    width: 350px !important;
    height: 35px !important;
}

.Footer>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(1) .icon-email {
    position: absolute;
    transform: translate(5px, 12px);
    font-size: 14px;
    color: var(--small-text-color);
}

.Footer>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(1) input {
    height: 35px !important;
    width: 300px !important;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 5px 0 0 5px;
    padding-left: 25px;
}

.Footer>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(1) button {
    background-color: var(--main-color);
    width: 50px !important;
    color: #fff;
    height: 35px !important;
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 0 5px 5px 0;
}

.Footer>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(2) span {
    font-weight: 400;
    color: var(--small-text-color);
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: -0.32px;
    vertical-align: middle;
}

.Footer>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(2) span:nth-of-type(2) {
    color: var(--main-color);
}


.Footer>div:nth-of-type(2) {
    position: relative;
}

.Footer>div:nth-of-type(2) p {
    margin: 0;
    color: var(--small-text-color);
    margin-top: 5px !important;
    font-size: 12px !important;
}

.Footer>div:nth-of-type(2) * {
    font-size: 13px !important;
    align-items: flex-start;
}

.Footer>div:nth-of-type(2)>div {
    width: 360px;
    margin-right: 5px;

}

.Footer>div:nth-of-type(2)::before {
    content: '';
    position: absolute;
    width: 880px;
    height: 1px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.151);
    left: 16%;
}

.Footer>div:nth-of-type(2)::after {
    content: '';
    position: absolute;
    width: 880px;
    height: 1px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.151);
    right: 16%;
}




.Footer>div:nth-of-type(3) {
    margin-bottom: 10px;
}

.Footer>div:nth-of-type(3)>div:nth-of-type(2) a {
    color: var(--text-color);
    font-size: 14px;
}

.Footer>div:nth-of-type(3)>div:nth-of-type(1) p {
    color: var(--small-text-color);
    font-size: 14px;
}

.Footer>div:nth-of-type(3)>div:nth-of-type(1) span {
    color: var(--main-color);
    font-weight: bold;
    font-size: 14px;
}