.Info {
    justify-content: space-evenly !important;
    background-color: #634C9F;
    color: #ffff !important;
    width: 100%;

}

.Info p {
    margin: 0 !important;
}

.Info>div:nth-of-type(1) {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.32px;
    text-align: center;
    vertical-align: middle;
}

.Info>div:nth-of-type(2)>p:nth-of-type(1) {
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.32px;
    vertical-align: middle;
}

.Info>div:nth-of-type(2)>div p {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.32px;
    vertical-align: baseline;
    color: #ffffffcb;
}

.Info>div:nth-of-type(2)>div span {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.32px;
    vertical-align: middle;
    margin-right: 3px;
    color: #ffff !important;

}

 @media (max-width:900px) {
.Info>div:nth-of-type(1) {
        font-size: 10px;
    }
        .Info>div:nth-of-type(2)>p:nth-of-type(1) {

            font-size: 10px;
   
        }
    
        .Info>div:nth-of-type(2)>div p {
            font-size: 10px;
          
        }
    
        .Info>div:nth-of-type(2)>div span {
            font-size: 16px;
          
        }
 }
 @media (max-width:710px) {
.Info>div:nth-of-type(1) {
        font-size: 8px;
    }
        .Info>div:nth-of-type(2)>p:nth-of-type(1) {

            font-size: 8px;
   
        }
    
        .Info>div:nth-of-type(2)>div p {
            font-size: 8px;
          
        }
    
        .Info>div:nth-of-type(2)>div span {
            font-size: 14px;
          
        }
 }
 @media (max-width:550px) {
.Info>div:nth-of-type(1) {
        font-size:5px;
    }
        .Info>div:nth-of-type(2)>p:nth-of-type(1) {

            font-size:5px;
   
        }
    
        .Info>div:nth-of-type(2)>div p {
            font-size:5px;
          
        }
    
        .Info>div:nth-of-type(2)>div span {
            font-size:10px;
          
        }
 }