.ProductDashboard {
    min-height:100vh ;
}
.ProductDashboard>h2{
width: 100% !important;
margin: 0px 10px 10px 10px  !important ;
font-size: 35px !important ;
text-align: center !important;
font-family: var(--second-font);
font-weight: 800;

}
.ProductDashboard form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 90%;
    
}
.ProductDashboard form div input{
  padding: 6px 15px;
    width: 100%;
    outline: none;
    border: .5px solid rgba(0, 0, 0, 0.301);
    border-radius: 11px;
}

.ProductDashboard form div label{
    font-family: var(--second-font);
    font-weight: 600;
    color: var(--main-color);
    width: 100%;
    
}
.ProductDashboard form .btn-add{
    font-family: var(--second-font);
    font-weight: 600;
    background-color: var(--main-color) !important;
    letter-spacing: 2px !important;
    transition: .5s !important;
    font-size: 18px !important;
    border: 2px solid transparent !important;
    
}
.ProductDashboard form .btn-add:hover{
   transform: scale(1.01) !important;
   color: var(--main-color) !important;
   background-color: #fff !important;
    border: 2px solid var(--main-color) !important;
    
}