.TopNav{
    width: 100%;
    height:35px;
    padding: 0 70px;
}
.TopNav>div:nth-of-type(1) > div p{
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.32px;
    vertical-align: middle;
    color: var(--small-text-color);
    position: relative;
  
}
.TopNav>div:nth-of-type(1)>div p::before{
    content: '';
    position: absolute;
    width:1px;
    height:100%;
    background-color: var(--small-text-color);
    transform: translateX(-10px);

}
.TopNav>div:nth-of-type(1) >div span{
        font-weight: 700;
        font-style: Bold;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: -0.32px;
        vertical-align: middle;
        color: var(--span-color);
        margin: 0 !important;
}
.TopNav>div:nth-of-type(1) >div a{
    color: var(--small-text-color);
    text-decoration: none;
    font-weight: 500;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.32px;
    vertical-align: middle;
    margin: 0 !important;
}

.TopNav>div:nth-of-type(2) .Dropdown ,
.TopNav>div:nth-of-type(2) span 
{
       background-color: white;
       color: var(--small-text-color);
       border: none;
        font-weight: 500;
        font-style: Medium;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: -0.32px;
        vertical-align: middle;
}
.TopNav>div:nth-of-type(2) .Dropdown-item{
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.32px;
        vertical-align: middle;
        
}
