.DownNav {
    width: 100%;
    height: 36px;

}

.DownNav>div .customselect {
    height: 100%;
    font-size: 14px;
    position: relative;
    z-index: 5 !important;
}

.customselect .select-button {
    position: relative;
    width: 250px;
    height: 36px;
    border-radius: 6px 6px 0 0;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: 600;
    font-style: Bold;
    line-height: 48px;
    letter-spacing: -0.3px;
    vertical-align: middle;


}

.customselect .select-options {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.192);
   
}

.DownNav>div .customselect .select-options p.select-item {
    margin: 0;
    padding: 8px 20px;
    cursor: pointer;
    transition: .5s;
  
}

.DownNav>div .customselect .select-options p.select-item:hover {
    background-color: #cccccc52;
}

.DownNav>div .customselect .select-options p:not(:last-of-type) {
    border-bottom: 1px solid #cccccc60;
}



.DownNav>div>div:nth-of-type(2) ul li {
    list-style: none;
}

.DownNav>div>div:nth-of-type(2) ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-style: Bold;
    font-size: 15px;
    line-height: 48px;
    letter-spacing: -0.3px;
    vertical-align: middle;
}

.DownNav>div>div:nth-of-type(2) ul li a.active {
    color: var(--main-color);
    text-decoration: underline;

}



.DownNav>div>div:nth-of-type(3) {
    transform: translateX(25px);
}

.DownNav>div>div:nth-of-type(3) div span {
    font-weight: 600;
    font-style: Bold;
    font-size: 15px;
    line-height: 48px;
    letter-spacing: -0.3px;
    vertical-align: middle;
    margin-right: 5px;
}

.DownNav>div>div:nth-of-type(3) div:nth-of-type(2) {
    color: var(--span-color);
}

.btn.btn-danger {
    font-size: 10px;
    padding: 1px 4px;
    margin-right: 4px;

}